In [33]:
import chardet 
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

#### One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [38]:
test_txt = "files_for_lab/machine.txt"

rawdata = open(test_txt, 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']

machine = pd.read_csv("files_for_lab/machine.txt", sep='\t', encoding=charenc)

machine.head(10)

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [42]:
machine.columns

Index(['New machine', '    Old machine'], dtype='object')

In [39]:
#H0 new machine's mean packing time >= old machine's packing time
#H1 new machine's mean packing time < old machine's packing time

In [108]:
machine['difference'] = machine['New machine'] - machine['    Old machine']

In [109]:
machine.head()

   New machine      Old machine  difference
0         42.1             42.7        -0.6
1         41.0             43.6        -2.6
2         41.3             43.8        -2.5
3         41.8             43.3        -1.5
4         42.4             42.5        -0.1

In [113]:
st.ttest_1samp(machine['New machine'] - machine['    Old machine'],0)

Ttest_1sampResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [110]:
print('p value (single tailed): ',st.ttest_1samp(machine['difference'],0)[1]/2)

p value (single tailed):  0.006770167825816246

In [ ]:
#There is evidence to reject the null hypothesis and consider that the new machine's mean packing time is shorter than the old one's.

#### Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [27]:
poke = pd.read_csv('files_for_lab/pokemon.csv')

In [28]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
#H0 - attack - defense <> 0, there is a difference between attack and defense
#H1 = attack - defense = 0, there is no difference between attack and defense

In [115]:
st.ttest_rel(poke['Attack'], poke['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [116]:
st.ttest_1samp(poke['Attack'] - poke['Defense'],0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [117]:
#We cannot reject the null hypothesis, therefore we do not have enough evidence to conclude that 
#there is no difference between the attack and the defense.

#### Part 1
In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context
Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder.

In [97]:
anova = pd.read_excel('files_for_lab/anova_lab_data.xlsx')

State the null hypothesis: H0 = the means of etching rate and power are the same 
State the alternate hypothesis: H1 = the means of etching rate and power are not the same
What is the significance level = 97%
What are the degrees of freedom of model, error terms, and total DoF
Data was collected randomly and provided to you in the table as shown: link to the image - Data

In [ ]:
#degrees of freedom = number of independent values â€“ number of statistics 
#or number of observations minus the number of parameters

In [ ]:
#error term is a residual variable produced by a statistical or mathematical model, which is created when the model
#does not fully represent the actual relationship between the independent variables and the dependent variables.

In [ ]:
#Degrees of freedom refers to the maximum number of logically independent values, which are values that have the freedom to vary, 
#in the data sample.

In [98]:
anova.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

#### Part 2
In this section, use the Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [99]:
anova.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [100]:
anova['Count'] = anova.groupby('Power ').cumcount()

In [101]:
anova.head()

  Power   Etching Rate  Count
0  160 W          5.43      0
1  180 W          6.24      0
2  200 W          8.79      0
3  160 W          5.71      1
4  180 W          6.71      1

In [104]:
anova_pivot = anova.pivot(index='Count', columns='Power ', values='Etching Rate')
anova_pivot.columns = ['Power_'+str(x) for x in anova_pivot.columns.values]
anova_pivot.head()

       Power_160 W  Power_180 W  Power_200 W
Count
0             5.43         6.24         8.79
1             5.71         6.71         9.20
2             6.22         5.98         7.90
3             6.01         5.66         8.15
4             5.59         6.60         7.55

In [105]:
st.f_oneway(anova_pivot['Power_160 W'],anova_pivot['Power_180 W'],anova_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
#H0 for ANOVA is that the mean of the power and etching rate are the same
#H1 is that they are not the same

In [ ]:
#There is not enough evidence to reject null